{% extends 'generic/object.html' %}

{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Assignment</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">ConnectServer</th>
                        <td>
                            {% if object.connect_server %}
                            <a href="{{ object.connect_server.get_absolute_url }}">{{ object.connect_server }}</a>
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Lease</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Default Lease Time</th>
                        <td>{{ object.default_lease_time }} seconds</td>
                    </tr>
                    <tr>
                        <th scope="row">Max Lease Time</th>
                        <td>{{ object.max_lease_time }} seconds</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Network Options</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Range</th>
                        <td>
                            {% if object.address_range %}
                            <a href="{{ object.address_range.get_absolute_url }}">{{ object.address_range }}</a>
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Router</th>
                        <td>
                            {% if object.router %}
                            <a href="{{ object.router.get_absolute_url }}">{{ object.router }}</a>
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">DNS Servers</th>
                        <td>
                            {% if object.dns_servers.exists %}
                                {% for dns in object.dns_servers.all %}
                                    <a href="{{ dns.get_absolute_url }}">{{ dns }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
